@media screen and (min-width: 321px){

}

@media screen and (max-width: 767px){
    .textOver{
        font-size: 40px;
    }
}
@media screen and (min-width: 1024px){
    .twoParts img {
        transform: translateX(10px) scale(1, 1);
        transition: transform 0.2s ease-in;
    }
    .twoParts img:hover{
        transform: scale(1, 1);
        border: solid 3px #658B49;
        border-radius: 25px;
        transition: transform 0.2s ease-in;
        box-shadow: 0px 0px 15px 0px #474747;
      }
}