* {
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
  }
* p{
    padding: 10px;
    font-size: 14px;
}
* h1{
    font-stretch: expanded;
}
body {
    min-width: 320px;
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-size: 14px;
    background-color: #0000;
    color:black;
    /*font-family: 'Bebas Neue', cursive;*/
    font-family: 'Montserrat', sans-serif;  
}

/* The Overlay (background) */
.overlay {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */   
    height: 100%;
    width: 0;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    background-color: rgb(0,0,0); /* Black fallback color */
    background-image: url(../Assets/overlayMenu.png); /* Black w/opacity */
    background-size: cover;
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
  }
  
  /* Position the content inside the overlay */
  .overlay-content {
    position: relative;
    top: 25%; /* 25% from the top */
    width: 100%; /* 100% width */
    text-align: center; /* Centered text/links */
    margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
  }
  
  /* The navigation links inside the overlay */
  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: white;
    display: block; /* Display block instead of inline */
    transition: 0.3s; /* Transition effects on hover (color) */
  }
  
  /* When you mouse over the navigation links, change their color */
  .overlay a:hover, .overlay a:focus {
    color: #dff590;
  }
  
  /* Position the close button (top right corner) */
  .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
  }
  
  /* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
  @media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
      font-size: 40px;
      top: 15px;
      right: 35px;
    }
  }

  /* Dropdown Button */
.dropbtn {
  background-color: none;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
  background-color: #658B49;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 280px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

.openVan{
    font-size: 50px;
    padding: 15px;
    color: #f1f1f1;
    z-index: 50;
    position: fixed;
    top: 1px;
}

/* first banner*/
.firstBanner{
    width: 100%;
    box-sizing: border-box;
    position: relative;
}

.firstPicture{
    
    z-index: 0;
}
.positionLogo{
    width: 100%;
    position: absolute;
    top: 150px;
    display: flex;
    align-items: center;
}
.logo{
    max-width: 280px;
    width: 100%;
    margin: 0 auto;
}

/* paralax*/
.parallax1, .parallax2, .parallax3 {
    
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items:center;
    /* Set a specific height */
    min-height: 500px;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .parallax1{
    /* The image used */
    background-image: url("../Assets/paralax1.png");
} 

.parallax2{
    /* The image used */
    background-image: url("../Assets/paralax2.png");
} 
.parallax3{
    /* The image used */
    background-image: url("../Assets/paralax3.png");
} 

  /* Turn off parallax scrolling for all tablets and phones. Increase/decrease the pixels if needed */
@media only screen and (max-device-width: 1366px) {
    .parallax1, .parallax2 {
      background-attachment: scroll;
    }
  }


.textOver{
    font-size: 60px;
    color: #f1f1f1;
    text-shadow:5px 5px 10px black;
}
.informationPart{
    width: 100%;
    box-sizing: border-box;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.informationPart h2{
    border-top: 5px solid #F1C43C;
    max-width: 968px;
    text-align: center;
    padding-top: 20px;
}
.howItWorks{
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.howItWorks h1{
    text-align: center;
    color: #658B49;
}
.twoParts{
    max-width: 1024px;
    width: 100%;
    box-sizing: border-box;
    padding: 20px;
}
.twoParts img {
    margin-top: 20px;
    margin-bottom: 20px;
}
.clickBelow{
    width: 100%;
    padding: 20px;
    text-align: center;
}
.oneButton {
    width: 300px;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: white;
    border-radius: 15px;
    text-decoration: none;
    font-size: 18px;
    border: solid 0.5px #A6BF4B;
    box-shadow: 7px 7px 13px 2px #A6BF4B;
    margin-bottom: 80px;
    margin-top: 80px;
    color: black;
}
.oneButton:hover{
    background-color: #A6BF4B; 
    box-shadow: 7px 7px 13px 2px #F1C43C;
    color: white;
}